<h1>Generación de reporte</h1>
<br>
 
<div class="contanier">
 
  <div class="row">
    <div class="col-md-12">
 
      <div class="input-group mb-3">
        <select class="form-select"  [(ngModel)]="modelo" aria-label="Default select example">
          <option value="descriptive">Descriptivo</option>
          <option value="diagnostics">Diagnóstico</option>
          <option value="models">Predictivo</option>
          <option value="prevention">Prescriptivo</option>
        </select>
  
      </div>
 
      <table class="table" *ngIf="isVisible">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
 
          <tr *ngFor="let data of responseconfiltro">
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <div class="float-start">
        <button type="button" (click)="onClick()" class="btn btn-primary">Generar reporte</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
